<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.directwebremoting.org/schema/spring-dwr
                           http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <dwr:controller id="dwrController" debug="true"/>

	<dwr:configuration>
        <dwr:convert class="com.hyron.javabean.*" type="bean"/>
    </dwr:configuration>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/engine.js">dwrController</prop>
                <prop key="/util.js">dwrController</prop>
                <prop key="/interface/**">dwrController</prop>
                <prop key="/call/**">dwrController</prop>
                <prop key="/call/**">dwrController</prop>
            </props>
        </property>
    </bean>  
    
    <dwr:configuration>
        <dwr:convert class="com.hyron.javabean.*" type="bean"/>
        <dwr:convert type="bean" class="com.hyron.presentation.utils.Page" javascript="page"/>
        <dwr:convert type="bean" class="com.hyron.presentation.utils.Sort" javascript="sort"/>
        <dwr:convert type="bean" class="com.hyron.presentation.utils.State" javascript="state"/>
    </dwr:configuration>
    
    <bean id ="userRegister" class="com.hyron.presentation.UserRegisterPresManager" scope="session">
    	<dwr:remote javascript="jUserRegister">
    	     <dwr:include method="createNewUser"/>
    	</dwr:remote>
        <property name="userRegisterFacede" ref="userRegisterFacede"/>
    </bean>
    
    <bean id ="userLogin" class="com.hyron.presentation.UserLoginInPresManager" scope="session">
    	<dwr:remote javascript="jUserLoginIn">
    	     <dwr:include method="userLoginIn"/>
    	     <dwr:include method="getLoginUserSessionName"/>
    	     <dwr:include method="getLoginUserSessionRole"/>
    	     <dwr:include method="userLogout"/>
    	     <dwr:include method="getCurrentTime"/>
    	</dwr:remote>
        <property name="userLoginInFacade" ref="userLoginInFacade"/>
    </bean>
    
    <bean id="postPresManager" class="com.hyron.presentation.PostPresManager" scope="session">
        <dwr:remote javascript="jPost">
            <dwr:include method="getAllPost"/>
            <dwr:include method="createPost"/>
            <dwr:include method="getPostByTitle"/>
            <dwr:include method="deletePostsByTitles"/>
            <dwr:include method="validateAuthority"/>   
            <dwr:include method="updatePost"/> 
            <dwr:include method="getPostCount"/>
        </dwr:remote>
        <property name="postFacade" ref="postFacade"/>
        <property name="userFacade" ref="userFacade"/>
    </bean>
    
    <bean id="fileConvertPresManager" class="com.hyron.utils.FileConvertManager" scope="session">
        <dwr:remote javascript="jUtil">
    	     <dwr:include method="convertHtmlToString"/>
    	</dwr:remote>
        <property name="basePath" value="${project.basepath}"/>
    </bean>
    
	<bean id="newsPres" class="com.hyron.presentation.NewsPresManager" scope="session">
		<dwr:remote javascript="jNewsPres">
		    <dwr:include method="displayTopNewsPresManager"/>
		</dwr:remote>
		<property name="newsFacade" ref="newsFacade"></property>
	</bean>
	
	<bean id="tourgroup" class="com.hyron.presentation.TourgroupPresManager" scope="session">
		<dwr:remote javascript="jTourgroup">
		    <dwr:include method="createTourgroup"/>
		    <dwr:include method="getTourgroups"/>
		    <dwr:include method="updateTourgroup"/>
		    <dwr:include method="deleteTourgroup"/>
		    <dwr:include method="getTourgroupById"/>
		    
		</dwr:remote>
		<property name="tourgroupFacade" ref="tourgroupFacade"></property>
		<property name="userFacade" ref="userFacade"></property>
	</bean>
	
	<bean id="client" class="com.hyron.presentation.ClientPresManager" scope="session">
		<dwr:remote javascript="jClient">
		    <dwr:include method="createClient"/>
		    <dwr:include method="getClients"/>
		    <dwr:include method="updateClient"/>
		    <dwr:include method="deleteClient"/>
		    <dwr:include method="getClientById"/>
		</dwr:remote>
		<property name="clientFacade" ref="clientFacade"></property>
		<property name="userFacade" ref="userFacade"></property>
	</bean>
	
	<bean id="appoint" class="com.hyron.presentation.AppointPresManager" scope="session">
		<dwr:remote javascript="jAppoint">
		    <dwr:include method="createAppoint"/>
		    <dwr:include method="getAppoints"/>
		    <dwr:include method="getAppointByUser"/>
		    <dwr:include method="updateAppoint"/>
		    <dwr:include method="deleteAppoint"/>
		    <dwr:include method="getAppointById"/>
		</dwr:remote>
		<property name="appointFacade" ref="appointFacade"></property>
		<property name="userFacade" ref="userFacade"></property>
		<property name="tourgroupFacade" ref="tourgroupFacade"></property>
		<property name="clientFacade" ref="clientFacade"></property>
	</bean>
	
	<bean id="pdfGenerater" class="com.hyron.generatepdf.PDFGenerater" scope="session">
	    <dwr:remote javascript="jPDFGenerater">
		    <dwr:include method="generatePDF"/>
		    <dwr:include method="getRootPath"/>
		</dwr:remote>
	</bean>
	
	
</beans>