<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/classes/applicationContext-api.xml,
           	/WEB-INF/classes/applicationContext-pres.xml,
           	/WEB-INF/classes/applicationContext-jdbc.xml,
           	/WEB-INF/classes/applicationContext-service.xml
           		
        </param-value>
    </context-param>
  
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!--enhance scope="session"-->
    
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>com.hyron.timetask.ParserNewsTaskListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>dwr</servlet-name>
        <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dwr</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.hyron.api.RestApplication</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	
	<!--  过滤访问pages文件夹的url请求 -->
	
	<filter>
        <filter-name>dailyEnglishLoginFilter</filter-name>
        <filter-class>com.hyron.filter.DailyEnglishLoginFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>dailyEnglishLoginFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
  
</web-app>
