body,form{
	margin: 0;
	font-family : "Microsoft YaHei","微软雅黑","SimSun","宋体";
	background: url(../images/helpbackground.jpg);
}
.help {
    text-align: center; 
    float: left;
    margin: 15em 35em;
}