#paging a {
    background: url("../images/paging.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin: 3px 3px 3px 3px;
    padding-left: 5px;
    text-decoration: none;
    vertical-align: middle;
}

#paging {
	font-family: Tahoma;
    font-size: 12px;
    position:relative;
    clear:both;
}

#paging a:visited {
    color: #FFFFFF;
}

#paging a span {
    background: url("../images/paging.png") no-repeat scroll right top transparent;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    padding-right: 5px;
    color:#00CCFF;
}

#paging a:hover span{
    background-position:right -17px;
    color: #FFFFFF;
}

#paging a:hover{
    background-position:right -17px;
}
