<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="loginService" class="com.hyron.api.service.LoginService">
        <property name="loginPresManager" ref="loginPresManager"/>
    </bean>
    
    <bean id="loginPresManager" class="com.hyron.presentation.UserLoginInPresManager">
        <property name="userLoginInFacade" ref="userLoginInFacade"/>
    </bean>
    
    <bean id="userLoginInFacade" class="com.hyron.facade.UserLoginInFacade">
        <property name="userDao" ref="userHibernateDao"/>
    </bean>

	    
    <bean id="newsFacade" class="com.hyron.facade.NewsFacade">
    	<property name="newsDao" ref="newsHibernateDao"/>
    </bean>
    
	<bean id="newsPres" class="com.hyron.presentation.NewsPresManager" scope="session">
		<property name="newsFacade" ref="newsFacade"></property>
	</bean>
</beans>